# Ignore all .txt files in the test directory
test_go/*.txt

# Ignore specific file
test_go/test.go

# Ignore everything in the test directory except specific files
test_go/*
!test/test_file1.go

.idea/